@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

html{
	scroll-behavior: smooth;
}

body{

	background-image: url("pozadina.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	}

.cistac{
	clear:both;
}

.break-column {
	flex-basis: 100%;
	width: 0;
  }

.naslov{
	font-family: 'Anton', sans-serif;
	font-size: 65px;
	text-align: center;
	color:orange;
	margin: 30px 0 50px;
	-webkit-text-stroke: 0.5px black;
}

.top{
	position:fixed;
	width: 65px;
	height: 65px;
	background-color: rgb(4, 172, 4);
	border-radius: 50px;
	bottom:50px;
	right:25px;
}

.top:active{
	background-color: green;
}

.top i{
	color:white;
	padding: 14px 17.5px;
	font-size: 40px;
}

/* =================MENI===================== */

#p1{
	font-family: 'Anton', sans-serif;
	margin-right: 0px;
	padding-right: 0px;
	text-shadow: 0px 3px 1px #000000;
	
	
}
.razmak1{
	margin-left: 0px;
	padding-left: 0px;
	text-shadow: 0px 3px 2px #000000;
}
.razmak{
	padding-top:10px;
 	margin-left: 0px;
	padding-left: 0px;

}


.meni{
	position: relative;
	z-index: 99;
	width: 100%;
	height: 60px;
	padding-bottom: 5px;
	backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
	z-index: 100;
}

nav p{
	font-family: 'Anton', sans-serif;
	color:orange;
	font-size: 35px;
	line-height: 55px;
	float: left;
	padding: 5px 20px;
	-webkit-text-stroke: 2px black;
}

nav ul{
	float: left;
	text-align:left;
}

nav ul li{
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a{
	display:block;
	font-family: 'Anton', sans-serif;
	color: #ffcc00;
	font-size: 25px;
	padding: 13px 14px;
	text-decoration: none;
	-webkit-text-stroke: 1px black;
}

nav ul li ul{
	display:none;
	position: absolute;
	padding: 5px;
	border-radius: 0px 0px 4px 4px;
	backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
	}
	
nav ul li:hover ul{
	display:block;
	}

nav ul li ul li{
	width: 180px;
	border-radius: 4px;
}

nav ul li ul li a{
	padding: 8px 14px;
	color:#ffcc00;
	
}

nav ul li ul li a:hover{
	background-color: rgba(131, 131, 131, 0.2);
	color:orange;
	
}

nav :hover{
	transform: scale(1.05);
	color:orange;
}

a.active{
    color:orange;
}


/* =================MENI===================== */


/* =================FUTER===================== */

footer{
    background: #000000;
    opacity:0.6;
    filter:Alpha(opacity=60);
    width: 100%;
    height: 40px;
    bottom:0;
    clear: both;
    text-align: center;
  }

  .pfuter{
	font-family: 'Rubik', sans-serif;
	padding-top: 10px;
	color:white;
}

.futer3{
	background: #000000;
    opacity:0.6;
    filter:Alpha(opacity=60);
    width: 100%;
    height: 40px;
    bottom:0;
    clear: both;
    text-align: center;
    margin-top: 100px;
}

.futer4{
	background: #000000;
    opacity:0.6;
    filter:Alpha(opacity=60);
    width: 100%;
    height: 40px;
    bottom:0;
    clear: both;
    text-align: center;
    margin-top: 800px;
}

.css{
	color:white;
	padding-left:20px;
	font-size: 20px;
}

.zagoogle{
	color: #ffcc00;
	text-decoration: none;
	margin-left:100px;
	margin-right:100px;
}

/* =================FUTER===================== */


/* =================NASLOVNA KUHINJE===================== */

  .leva{
	border-radius:5%;
	max-width:25%;
	display: inline-flex;
	float:left;
	margin-top:10%;
	margin-bottom:5%;
	margin-left:10%;
	margin-right:5%;
	box-shadow:0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 39%);
  }

  .desna{
	float:right;
	margin-right:15%;
  }

  .leva img{
	border-radius:5%;
}

.okvir1{
	width:100%;
	display:flex;
}

.okvir2{
	width:100%;
	display:flex;
}

.okvir3{
	width:100%;
	display:flex;
}

  .prekoSlika:hover {
	opacity:1;
    -webkit-filter:blur(4px);
	filter: blur(4px);
}

.prekoSlika{
	opacity: 1;
}

span.tekst{
	height: 30%;
	width:30%;
	line-height: 400px;
	max-width: 30%;
	max-height: 30%;
	text-align:center;
	opacity: 0;
	position:absolute;
	z-index:-1;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	-webkit-text-stroke: 2px black;
	color:orange;
  }


.leva:hover span.tekst {
	opacity: 1;
    z-index:100;
  }

.leva:hover img{
	-moz-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.leva img{
	height:auto;
	object-fit:cover;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  	transition: all 0.3s;
}

/* =================NASLOVNA KUHINJE===================== */


/* ======================KUHINJE========================= */

.kuhinjaNaslov{
	font-family: 'Anton', sans-serif;
	text-align: center;
	font-size: 70px;
	color:orange;
	-webkit-text-stroke: 1px black;
	margin-top: 5%;
	margin-bottom: 5%;
}

.naslovRecepta{
	margin-left: 40px;
	margin-top: 20px;
	font-size: 40px;
	color:orange;
	-webkit-text-stroke: 0.5px black;
	font-family: 'Anton', sans-serif;
}

.naslovRecepta2{
	margin-left: 40px;
	margin-top: 20px;
	font-size: 40px;
	color:orange;
	-webkit-text-stroke: 1.5px black;
	font-family: 'Anton', sans-serif;
}


.tekstRecepta{
	font-family: 'Oswald', sans-serif;
	margin-left:75px;
	color:white;
	-webkit-text-stroke: 0.5px black;
	font-size: 30px;
}
.tekstRecepta2{
	font-family: 'Oswald', sans-serif;
	margin-left:75px;
	color:white;
	-webkit-text-stroke: 0.5px black;
	font-size: 30px;
	list-style-type:number;
}



/* ======================KUHINJE========================= */


/* =================GALERIJA===================== */

.galerija{
	position: relative;
	z-index: 0;
	margin: 10px 50px;
	padding-left:25px;
}

.galerija img{
	width: 530px;
	padding: 25px;
	filter: grayscale(100%);
	transition: 0.5s;
	border-radius: 2px;
	border-radius:50px;	
}

.galerija img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

/* =================GALERIJA===================== */


/* =================KONTAKT===================== */

.kontaktbox{
	width: 500px;
	background-image: linear-gradient(orange, yellow);
	box-shadow: 0 0 20px 0 rgb(0, 0, 0);
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	position:absolute;
	border-radius: 20px;
}

form{
	margin: 35px;
}

.input-field{
	width: 400px;
	height: 40px;
	margin-top: 20;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;
}

.textarea-field{
	height: 150px;
	padding-top: 10px;
}

.btn{
	border-radius: 20px;
	color: #fff;
	margin-top: 18px;
	padding: 10px;
	background-color: #47c35a;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.futer2{
    background: #000000;
    opacity:0.6;
    filter:Alpha(opacity=60);
      width: 100%;
      height: 40px;
      bottom:0;
      clear: both;
      text-align: center;
	  position: absolute;
  }

/* =================KONTAKT===================== */


/* =================O AUTORU===================== */

.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top:80px;
	margin-bottom: 5%;
	color: white;
	font-family: 'Oswald', sans-serif;
	border-radius: 10px;
}

.box img{
	width: 300px;
}

.box h1{
	font-family: 'League Gothic', sans-serif;
	font-size: 50px;
	letter-spacing: 2px;
}

.box h2{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.box p{
	padding-top: 10px;
}
 
.box-img{
	border-radius: 10%;
	padding-bottom: 20px;
}

.box ul{
	padding-top: 20px;
	margin:0;
}

.box li{
	display: inline;
	margin: 6px;
	list-style: none;
}

.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}

.box li a:hover{
	color: #b9b9b9;
}

/* =================O AUTORU===================== */